@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    min-height: 90vh;;
    align-items: center;
    justify-content: center;
    display:flex;
    background-color: #f7f3f3
    ;
}



.section{
    margin-top: 60px;;
    padding: 40px 40px 40px 40px;

    background-image: linear-gradient(0deg, #84c1e4 0%, #9db8db 35%, #ffffff 100%);
}

div{
    
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}


h2{
    margin-top: 40px;;
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 300;
}
h3{
    font-size: 10px;
    color:#1a1a1a;
    font-weight: 520;
}
h5{
    margin-top: 5px;;
    font-size:15px;
    font-weight: 500;
}

h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}



.button{
  margin:10px 10px 10px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}



.dark-mode {
    background-color: #323437;
    transition: 0.5s;
  }



input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

input[type="textbox"]{
    font-size: 10px;
    text-align: center;
}

  
label {
    margin-top: 20px;;
    cursor: pointer;
    width: 50px;
    height: 30px;
    background: grey;
    border-radius: 100px;
    position: relative;
    display: inline-block;
}
  
label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
  
input:checked + label {
    background: #000000;
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
  
label:active:after {
    width: 70px;
}



@media (max-width: 768px ) {

    h2 {
        margin-top: 200px;
        font-size: 50px;
        font-weight: 300;
        margin-bottom: 50px;
    }

    .section{
        width: 700px;
        height: 70vh;
    }

    

    .button {

        width: 150px;
        height: 2vh;
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
        color: #1a1a1a;
        font-weight: 520;
    }

    .textbox {
        width: 250px;
        height: 5vh;
        border-radius: 20px;
        box-shadow: inset 4px 4px 6px #ccc, inset -4px -4px 6px #fff;
        border: #ccc;
    }

    input[type=textbox] {
        font-size: 30px;
    }

    div {

        justify-content: space-between;
        text-align: center;
        margin-top: 20px;
    }

    h4 {
        font-size: 30px;
        font-weight: 500;
    }

    label {
        margin-top: 50px;;
        cursor: pointer;
        width: 80px;
        height: 30px;
        background: grey;
        border-radius: 100px;
        position: relative;
        display: inline-block;
    }
      
    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }
      
    input:checked + label {
        background: #000000;
    }
      
    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }
      
    label:active:after {
        width: 70px;
    }

    h5{
        margin-top: 5px;;
        font-size:30px;
        font-weight: 500;
    }

}

